aiida_quantumespresso/parsers/parse_xml/pw/schemas/qes_200420.xsd

<?xml version="1.0"?>
<!--
Copyright (c), 2015-2016, Quantum Espresso Foundation. All rights reserved.
This file is distributed under the terms of the MIT License. See the
file 'LICENSE' in the root directory of the present distribution, or
http://opensource.org/licenses/MIT.
Authors: Antonio Zambon, Paolo Giannozzi, Pietro Delugas
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:qes="http://www.quantum-espresso.org/ns/qes/qes-1.0"
	targetNamespace="http://www.quantum-espresso.org/ns/qes/qes-1.0">
  <!-- ESPRESSO (root element) -->
  <element name="espresso" type="qes:espressoType" />
  <complexType name="espressoType">
    <sequence>
      <element type="qes:general_infoType" name="general_info" minOccurs="0" />
      <element type="qes:parallel_infoType" name="parallel_info" minOccurs="0" />
      <element type="qes:inputType" name="input" />
      <element type="qes:stepType" name="step" minOccurs="0" maxOccurs="unbounded" />
      <element type="qes:outputType" name="output" minOccurs="0" />
      <element type="qes:statusType" name="status" minOccurs="0" />
      <choice minOccurs="1">
        <element type="nonNegativeInteger" name="cputime" minOccurs="0"/>
        <element type="qes:timingType" name="timing_info" minOccurs="0"/>
      </choice>
      <element type="qes:closedType" name="closed" minOccurs="0" />
    </sequence>
    <attribute name="Units" type="string" use="optional"/>
  </complexType>
  <!-- GENERAL INFO -->
  <complexType name="general_infoType">
    <sequence>
      <element type="qes:xml_formatType" name="xml_format"/>
      <element type="qes:creatorType" name="creator"/>
      <element type="qes:createdType" name="created"/>
      <element type="string" name="job"/>
    </sequence>
  </complexType>
  <!-- PARALLEL INFO -->
  <complexType name="parallel_infoType">
    <sequence>
      <element type="positiveInteger" name="nprocs"/>
      <element type="positiveInteger" name="nthreads"/>
      <element type="positiveInteger" name="ntasks"/>
      <element type="positiveInteger" name="nbgrp"/>
      <element type="positiveInteger" name="npool"/>
      <element type="positiveInteger" name="ndiag"/>
    </sequence>
  </complexType>
  <!-- INPUT TYPE-->
  <complexType name="inputType">
    <sequence>
      <element type="qes:control_variablesType" name="control_variables"/>
      <element type="qes:atomic_speciesType" name="atomic_species"/>
      <element type="qes:atomic_structureType" name="atomic_structure"/>
      <element type="qes:dftType" name="dft"/>
      <element type="qes:spinType" name="spin"/>
      <element type="qes:bandsType" name="bands"/>
      <element type="qes:basisType" name="basis"/>
      <element type="qes:electron_controlType" name="electron_control"/>
      <element type="qes:k_points_IBZType" name="k_points_IBZ"/>
      <element type="qes:ion_controlType" name="ion_control"/>
      <element type="qes:cell_controlType" name="cell_control"/>
      <element type="qes:symmetry_flagsType" name="symmetry_flags" minOccurs="0" />
      <element type="qes:boundary_conditionsType" name="boundary_conditions" minOccurs="0" />
      <element type="qes:ekin_functionalType" name="ekin_functional" minOccurs="0" />
      <element type="qes:matrixType" name="external_atomic_forces" minOccurs="0" />
      <element type="qes:integerMatrixType" name="free_positions" minOccurs="0" />
      <element type="qes:matrixType" name="starting_atomic_velocities" minOccurs="0" />
      <element type="qes:electric_fieldType" name="electric_field" minOccurs="0" />
      <element type="qes:atomic_constraintsType" name="atomic_constraints" minOccurs="0" />
      <element type="qes:spin_constraintsType" name="spin_constraints" minOccurs="0" />
    </sequence>
  </complexType>
  <!-- STEP TYPE -->
  <complexType name="stepType">
    <sequence>
      <element type="qes:scf_convType" name="scf_conv"/>
      <element type="qes:atomic_structureType" name="atomic_structure"/>
      <element type="qes:total_energyType" name="total_energy"/>
      <element type="qes:matrixType" name="forces"/>
      <element type="qes:matrixType" name="stress" minOccurs="0" />
      <element type="double"         name="FCP_force" minOccurs="0"/>
      <element type="double"         name="FCP_tot_charge" minOccurs ="0"/>
    </sequence>
    <attribute type="positiveInteger" name="n_step"/>
  </complexType>
  <!-- OUTPUT TYPE -->
  <complexType name="outputType">
    <sequence>
      <element type="qes:convergence_infoType" name="convergence_info" minOccurs="0"/>
      <element type="qes:algorithmic_infoType" name="algorithmic_info"/>
      <element type="qes:atomic_speciesType" name="atomic_species"/>
      <element type="qes:atomic_structureType" name="atomic_structure"/>
      <element type="qes:symmetriesType" name="symmetries" minOccurs="0" maxOccurs="1"/>
      <element type="qes:basis_setType" name="basis_set"/>
      <element type="qes:dftType" name="dft"/>
      <element type="qes:outputPBCType" name="boundary_conditions" minOccurs="0" />
      <element type="qes:magnetizationType" name="magnetization"/>
      <element type="qes:total_energyType" name="total_energy"/>
      <element type="qes:band_structureType" name="band_structure"/>
      <element type="qes:matrixType" name="forces" minOccurs="0"/>
      <element type="qes:matrixType" name="stress" minOccurs="0" />
      <element type="qes:outputElectricFieldType" name="electric_field" minOccurs="0" />
      <element type="double"  name="FCP_force" minOccurs="0"/>
      <element type="double"  name="FCP_tot_charge" minOccurs="0"/>
    </sequence>
  </complexType>
  <!-- Timing Info -->
  <complexType name="timingType">
    <sequence>
      <element type = "qes:clockType" name="total" minOccurs="1" maxOccurs="1"/>
      <element type = "qes:clockType" name="partial" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <complexType name="clockType">
    <sequence>
      <element type="double" name="cpu"/>
      <element type="double" name="wall"/>
    </sequence>
    <attribute type="string" name="label" use="required"/>
    <attribute type="positiveInteger" name="calls" use="optional"/>
  </complexType>
  <!-- CONTROL -->
  <complexType name="control_variablesType">
    <sequence>
      <element type="string" name="title"/>
      <element type="qes:calculationType" name="calculation" default="scf"/>
      <element type="qes:controlRestartModeType" name="restart_mode" default="from_scratch"/>
      <element type="string" name="prefix"/>
      <element type="string" name="pseudo_dir"/>
      <element type="string" name="outdir"/>
      <element type="boolean" name="stress"/>
      <element type="boolean" name="forces"/>
      <element type="boolean" name="wf_collect" default="false"/>
      <element type="qes:lowhighType" name="disk_io" default="low"/>
      <element type="positiveInteger" name="max_seconds"/>
      <element type="positiveInteger" name="nstep" minOccurs="0"/>
      <element type="double" name="etot_conv_thr" default="1.0e-5"/>
      <element type="double" name="forc_conv_thr" default="1.0e-3"/>
      <element type="double" name="press_conv_thr" default="5e-1"/>
      <element type="qes:lowhighType" name="verbosity" default="low"/>
      <element type="positiveInteger" name="print_every"/>
    </sequence>
  </complexType>
  <!-- COMMON TYPES -->
  <!-- GENERAL INFO -->
  <complexType name="xml_formatType">
    <simpleContent>
      <extension base="string">
        <attribute type="string" name="NAME"/>
        <attribute type="string" name="VERSION"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="creatorType">
    <simpleContent>
      <extension base="string">
        <attribute type="string" name="NAME"/>
        <attribute type="string" name="VERSION"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="createdType">
    <simpleContent>
      <extension base="string">
        <attribute type="string" name="DATE"/>
        <attribute type="string" name="TIME"/>
      </extension>
    </simpleContent>
  </complexType>
  <!-- CONTROL -->
  <simpleType name="calculationType">
  	<restriction base="string">
   <enumeration value="scf"/>
  	<enumeration value="nscf"/>
  	<enumeration value="bands"/>
  	<enumeration value="relax"/>
  	<enumeration value="vc-relax"/>
  	<enumeration value="md"/>
  	<enumeration value="vc-md"/>
  	</restriction>
  </simpleType>
  <simpleType name="controlRestartModeType">
  	<restriction base="string">
    <enumeration value="from_scratch"/>
  	<enumeration value="restart"/>
  	</restriction>
  </simpleType>
  <simpleType name="lowhighType">
  	<restriction base="string">
  	  <enumeration value="low"/>
  	  <enumeration value="high"/>
  	</restriction>
  </simpleType>
  <!-- INPUT TYPE -->
  <complexType name="atomic_speciesType">
    <sequence>
      <element type="qes:speciesType" name="species" maxOccurs="unbounded"/>
    </sequence>
    <attribute type="positiveInteger" name="ntyp"/>
    <attribute type="string" name = "pseudo_dir" use = "optional"/>
  </complexType>
  <complexType name="speciesType">
    <sequence>
      <element type="double" name="mass" minOccurs="0" />
      <element type="string" name="pseudo_file"/>
      <element type="double" name="starting_magnetization" minOccurs="0" default="0.0"/>
      <element type="double" name="spin_teta" minOccurs="0" maxOccurs="1" />
      <element type="double" name="spin_phi"  minOccurs="0" maxOccurs="1" />
    </sequence>
    <attribute type="string" name="name"/>
  </complexType>
  <complexType name="atomic_structureType">
    <sequence>
      <choice minOccurs="1" maxOccurs="1">
         <element type="qes:atomic_positionsType" name="atomic_positions" minOccurs="0"  />
         <element type="qes:wyckoff_positionsType" name="wyckoff_positions" minOccurs="0" />
         <element type="qes:atomic_positionsType" name="crystal_positions" minOccurs="0" />
      </choice>
      <element type="qes:cellType" name="cell"/>
    </sequence>
    <attribute type="positiveInteger" name="nat" />
    <attribute type="double" name="alat" use="optional"/>
    <attribute type="positiveInteger" name="bravais_index" use="optional"/>
      <attribute type="string" name="alternative_axes" use="optional" />
  </complexType>
  <complexType name="atomic_positionsType">
    <sequence>
      <element type="qes:atomType" name="atom" maxOccurs="unbounded" />
    </sequence>
  </complexType>
  <complexType name="atomType">
    <simpleContent>
      <extension base="qes:d3vectorType">
    	<attribute type="string" name="name" />
    	<attribute type="string" name="position" use="optional" />
        <attribute type="positiveInteger" name="index" use="optional"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="wyckoff_positionsType">
    <sequence>
      <element type="qes:atomType" name="atom" maxOccurs="unbounded" />
    </sequence>
    <attribute type="unsignedByte" name="space_group" />
    <attribute type="string" name="more_options" use="optional"/>
  </complexType>
  <complexType name="cellType">
    <sequence>
      <element type="qes:d3vectorType" name="a1"/>
      <element type="qes:d3vectorType" name="a2"/>
      <element type="qes:d3vectorType" name="a3"/>
    </sequence>
  </complexType>
  <complexType name="dftType">
    <sequence>
      <element type="qes:functionalType" name="functional"/>
      <element type="qes:hybridType" name="hybrid" minOccurs="0" />
      <element type="qes:dftUType" name="dftU" minOccurs="0" />
      <element type="qes:vdWType" name="vdW" minOccurs="0" />
    </sequence>
  </complexType>
  <simpleType name="functionalType">
    <restriction base="string">
    <enumeration value="PZ"/>
    <enumeration value="BP"/>
    <enumeration value="PBE"/>
    <enumeration value="REVPBE"/>
    <enumeration value="PBESOL"/>
    <enumeration value="BLYP"/>
    <enumeration value="OLYP"/>
    <enumeration value="PW91"/>
    <enumeration value="WC"/>
    <enumeration value="SOGGA"/>
    <enumeration value="EV93"/>
    <enumeration value="B3LYP"/>
    <enumeration value="GauPBE"/>
    <enumeration value="PBE0"/>
    <enumeration value="HSE"/>
    <enumeration value="VDW-DF"/>
    <enumeration value="VDW-DF-CX"/>
    <enumeration value="VDW-DF-C09"/>
    <enumeration value="VDW-DF-OB86"/>
    <enumeration value="VDW-DF-OBK8"/>
    <enumeration value="VDW-DF2"/>
    <enumeration value="VDW-DF2-C09"/>
    <enumeration value="VDW-DF2-B86R"/>
    <enumeration value="RVV10"/>
    </restriction>
  </simpleType>

    <complexType name="hybridType">
    <sequence>
      <element type="qes:qpoint_gridType" name="qpoint_grid" minOccurs="0"/>
      <element type="double" name="ecutfock" minOccurs="0"/>
      <element type="double" name="exx_fraction" minOccurs="0"/>
      <element type="double" name="screening_parameter" minOccurs="0"/>
      <element type="string" name="exxdiv_treatment" minOccurs="0" default="gygi-baldereschi"/>
      <element type="boolean" name="x_gamma_extrapolation" default="true" minOccurs="0"/>
      <element type="double" name="ecutvcut" minOccurs="0" default="0"/>
      <element type="double" name="localization_threshold" minOccurs="0" default="0.0"/>
    </sequence>
  </complexType>
  <complexType name="qpoint_gridType">
    <simpleContent>
      <extension base="string">
        <attribute type="positiveInteger" name="nqx1"/>
        <attribute type="positiveInteger" name="nqx2"/>
        <attribute type="positiveInteger" name="nqx3"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="dftUType">
    <sequence>
      <element type="unsignedByte" name="lda_plus_u_kind" minOccurs="0"/>
      <element type="qes:HubbardCommonType" name="Hubbard_U" minOccurs="0" maxOccurs="unbounded"/>
      <element type="qes:HubbardCommonType" name="Hubbard_J0" minOccurs="0" maxOccurs="unbounded"/>
      <element type="qes:HubbardCommonType" name="Hubbard_alpha" minOccurs="0" maxOccurs="unbounded"/>
      <element type="qes:HubbardCommonType" name="Hubbard_beta" minOccurs="0" maxOccurs="unbounded"/>
      <element type="qes:HubbardJType" name="Hubbard_J" minOccurs="0" maxOccurs="unbounded"/>
      <element type="qes:starting_nsType" name="starting_ns" minOccurs="0" maxOccurs="unbounded"/>
      <element type="qes:Hubbard_nsType" name="Hubbard_ns" minOccurs="0" maxOccurs="unbounded"/>
      <element type="qes:HubbardProjType" name="U_projection_type" minOccurs="0"/>
      <element type="qes:HubbardBackType"  name="Hubbard_back"  minOccurs="0" maxOccurs="unbounded"/>
      <element type="qes:HubbardCommonType" name="Hubbard_U_back" minOccurs="0" maxOccurs="unbounded"/>
      <element type="qes:HubbardCommonType" name="Hubbard_alpha_back" minOccurs="0" maxOccurs="unbounded"/>
      <element type="qes:Hubbard_nsType" name="Hubbard_ns_nc" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <complexType name="HubbardCommonType">
    <simpleContent>
      <extension base="double">
        <attribute type="string" name="specie"/>
        <attribute type="string" name="label" use="optional"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="HubbardJType">
    <simpleContent>
      <extension base="qes:d3vectorType">
        <attribute type="string" name="specie"/>
        <attribute type="string" name="label"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="starting_nsType">
    <simpleContent>
      <extension base="qes:vectorType">
        <attribute type="string" name="specie"/>
        <attribute type="string" name="label"/>
        <attribute type="positiveInteger" name="spin"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="Hubbard_nsType">
    <simpleContent>
      <extension base="qes:matrixType">
        <attribute type="string" name="specie"/>
        <attribute type="string" name="label"/>
        <attribute type="positiveInteger" name="spin"/>
        <attribute type="positiveInteger" name="index"/>
      </extension>
    </simpleContent>
  </complexType>
  <simpleType name="HubbardProjType">
     <restriction base="string">
         <enumeration value="atomic"/>
        <enumeration value="ortho-atomic"/>
        <enumeration value="norm-atomic"/>
        <enumeration value="pseudo"/>
        <enumeration value="file"/>
     </restriction>
  </simpleType>
  <complexType name="HubbardBackType">
    <sequence>
      <element type="qes:backrestrType" name="background" minOccurs="1" maxOccurs="1"/>
      <element type="qes:backLType" name="l_number" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
    <attribute type="string" name="species"/>
  </complexType>
  <simpleType name="backrestrType">
    <restriction base="string">
      <enumeration value="two_orbitals"/>
      <enumeration value="one_orbital"/>
    </restriction>
  </simpleType>
  <complexType name="backLType">
    <simpleContent>
      <extension base="nonNegativeInteger">
      <attribute name="l_index" type="nonNegativeInteger"/>
    </extension>
    </simpleContent>
  </complexType>
  <complexType name="vdWType">
    <sequence>
      <element type="string" name = "vdw_corr" minOccurs = "0"/>
      <element type="integer" name="dftd3_version" minOccurs="0"/>
      <element type="boolean" name="dftd3_threebody" minOccurs="0"/>
      <element type="string" name = "non_local_term" minOccurs = "0" />
       <element type="string" name = "functional" minOccurs = "0"/>
      <element type="double" name="total_energy_term" minOccurs = "0"/>
      <element type="double" name="london_s6" minOccurs="0"/>
      <element type="double" name ="ts_vdw_econv_thr" minOccurs="0" maxOccurs="1"/>
      <element type="boolean" name ="ts_vdw_isolated" minOccurs="0" maxOccurs="1"/>
      <element type="double" name="london_rcut" minOccurs="0"/>
      <element type="double" name="xdm_a1" minOccurs="0"/>
      <element type="double" name="xdm_a2" minOccurs="0"/>
      <element type="qes:HubbardCommonType" name = "london_c6" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <complexType name="spinType">
    <sequence>
      <element type="boolean" name="lsda"/>
      <element type="boolean" name="noncolin"/>
      <element type="boolean" name="spinorbit"/>
    </sequence>
  </complexType>
  <complexType name="bandsType">
    <sequence>
      <element type="positiveInteger" name="nbnd" minOccurs="0"/>
      <element type="qes:smearingType" name="smearing" minOccurs="0"/>
      <element type="double" name="tot_charge" minOccurs="0"/>
      <element type="double" name="tot_magnetization" minOccurs="0"/>
      <element type="qes:occupationsType" name="occupations" />
      <element type="qes:inputOccupationsType" name="inputOccupations" minOccurs="0" maxOccurs="2" />
    </sequence>
  </complexType>
  <complexType name="smearingType">
    <simpleContent>
      <extension base="qes:smearingChoiceType">
        <attribute type="double" name="degauss"/>
      </extension>
    </simpleContent>
  </complexType>
  <simpleType name="smearingChoiceType">
    <restriction base="string">
    <enumeration value="gaussian"/>
    <enumeration value="mp"/>
    <enumeration value="mv"/>
    <enumeration value="fd"/>
    </restriction>
  </simpleType>
  <complexType name="occupationsType">
    <simpleContent>
      <extension base="string">
        <attribute type="positiveInteger" name="spin" use="optional"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="basisType">
    <sequence>
      <element type="boolean" name="gamma_only" minOccurs="0" />
      <element type="double" name="ecutwfc" />
      <element type="double" name="ecutrho" minOccurs="0" />
      <element type="qes:basisSetItemType" name="fft_grid" minOccurs="0" />
      <element type="qes:basisSetItemType" name="fft_smooth" minOccurs="0" />
      <element type="qes:basisSetItemType" name="fft_box" minOccurs="0" />
    </sequence>
  </complexType>
  <complexType name="basis_setType">
    <sequence>
      <element type="boolean" name="gamma_only" minOccurs="0" />
      <element type="double" name="ecutwfc" />
      <element type="double" name="ecutrho" minOccurs="0" />
      <element type="qes:basisSetItemType" name="fft_grid" />
      <element type="qes:basisSetItemType" name="fft_smooth" minOccurs="0" />
      <element type="qes:basisSetItemType" name="fft_box" minOccurs="0" />
      <element type="positiveInteger" name="ngm" />
      <element type="positiveInteger" name="ngms" minOccurs="0" />
      <element type="positiveInteger" name="npwx" />
      <element type="qes:reciprocal_latticeType" name="reciprocal_lattice" />
    </sequence>
  </complexType>
  <complexType name="basisSetItemType">
    <simpleContent>
      <extension base="string">
        <attribute type="positiveInteger" name="nr1"/>
        <attribute type="positiveInteger" name="nr2"/>
        <attribute type="positiveInteger" name="nr3"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="reciprocal_latticeType">
    <sequence>
      <element type="qes:d3vectorType" name="b1"/>
      <element type="qes:d3vectorType" name="b2"/>
      <element type="qes:d3vectorType" name="b3"/>
    </sequence>
  </complexType>
  <complexType name="electron_controlType">
    <sequence>
      <element type="qes:diagoType" name="diagonalization"/>
      <element type="qes:mixingModeType" name="mixing_mode"/>
      <element type="double" name="mixing_beta"/>
      <element type="double" name="conv_thr"/>
      <element type="positiveInteger" name="mixing_ndim"/>
      <element type="positiveInteger" name="max_nstep"/>
      <element type="boolean" name="real_space_q" minOccurs="0" default="false" />
      <element type="boolean" name="real_space_beta" minOccurs="0" default ="false"/>
      <element type="boolean" name="tq_smoothing"/>
      <element type="boolean" name="tbeta_smoothing"/>
      <element type="double" name="diago_thr_init"/>
      <element type="boolean" name="diago_full_acc"/>
      <element type="nonNegativeInteger" name="diago_cg_maxiter" minOccurs="0"/>
      <element type="nonNegativeInteger" name="diago_ppcg_maxiter" minOccurs="0"/>
      <element type="positiveInteger" name="diago_david_ndim"    minOccurs="0"/>
    </sequence>
  </complexType>
  <simpleType name="mixingModeType">
    <restriction base="string">
      <enumeration value="plain"/>
      <enumeration value="TF"/>
      <enumeration value="local-TF"/>
    </restriction>
  </simpleType>
  <simpleType name="diagoType">
    <restriction base="string">
    <enumeration value="davidson"/>
    <enumeration value="cg"/>
    <enumeration value="ppcg"/>
    </restriction>
  </simpleType>
  <complexType name="k_points_IBZType">
    <choice minOccurs="1" maxOccurs="1">
      <element type="qes:monkhorst_packType" name="monkhorst_pack" minOccurs="0" maxOccurs="1"/>
      <sequence>
        <element type="positiveInteger" name="nk" minOccurs="0"/>
        <element type="qes:k_pointType" name="k_point" maxOccurs="unbounded" minOccurs="0"/>
      </sequence>
    </choice>
  </complexType>
  <complexType name="monkhorst_packType">
    <simpleContent>
      <extension base="string">
        <attribute type="positiveInteger" name="nk1"/>
        <attribute type="positiveInteger" name="nk2"/>
        <attribute type="positiveInteger" name="nk3"/>
        <attribute type="nonNegativeInteger" name="k1"/>
        <attribute type="nonNegativeInteger" name="k2"/>
        <attribute type="nonNegativeInteger" name="k3"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="k_pointType">
    <simpleContent>
      <extension base="qes:d3vectorType">
        <attribute type="double" name="weight" use="optional"/>
        <attribute type="string" name="label" use = "optional"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="ion_controlType">
    <sequence>
      <element type="string" name="ion_dynamics" />
      <element type="double" name="upscale" minOccurs="0" />
      <element type="boolean" name="remove_rigid_rot" minOccurs="0" />
      <element type="boolean" name="refold_pos" minOccurs="0" />
      <element type="qes:bfgsType" name="bfgs" minOccurs="0" />
      <element type="qes:mdType" name="md" minOccurs="0" />
    </sequence>
  </complexType>
  <complexType name="bfgsType">
    <sequence>
      <element type="positiveInteger" name="ndim"/>
      <element type="double" name="trust_radius_min"/>
      <element type="double" name="trust_radius_max"/>
      <element type="double" name="trust_radius_init"/>
      <element type="double" name="w1"/>
      <element type="double" name="w2"/>
    </sequence>
  </complexType>
  <complexType name="mdType">
    <sequence>
      <element type="string" name="pot_extrapolation"/>
      <element type="string" name="wfc_extrapolation"/>
      <element type="string" name="ion_temperature"/>
      <element type="double" name="timestep" default="20.0" maxOccurs='1'/>
      <element type="double" name="tempw"/>
      <element type="double" name="tolp"/>
      <element type="double" name="deltaT"/>
      <element type="positiveInteger" name="nraise"/>
    </sequence>
  </complexType>
  <complexType name="cell_controlType">
    <sequence>
      <element type="string" name="cell_dynamics"/>
      <element type="double" name="pressure" default="0.0" />
      <element type="double" name="wmass" minOccurs="0" />
      <element type="double" name="cell_factor" minOccurs="0" />
      <element type="boolean" name="fix_volume" minOccurs="0" />
      <element type="boolean" name="fix_area"   minOccurs="0" />
      <element type="boolean" name="isotropic" minOccurs="0" />
      <element type="qes:integerMatrixType" name="free_cell" minOccurs="0" />
    </sequence>
  </complexType>
  <complexType name="symmetry_flagsType">
    <sequence>
      <element type="boolean" name="nosym"/>
      <element type="boolean" name="nosym_evc"/>
      <element type="boolean" name="noinv"/>
      <element type="boolean" name="no_t_rev"/>
      <element type="boolean" name="force_symmorphic"/>
      <element type="boolean" name="use_all_frac"/>
    </sequence>
  </complexType>
  <complexType name="boundary_conditionsType">
    <sequence>
      <element type="string" name="assume_isolated"/>
      <element type="qes:esmType" name="esm" minOccurs = "0"/>
      <element type="boolean"     name="fcp_opt" minOccurs = "0"/>
      <element type="double" name="fcp_mu" minOccurs ="0" />
    </sequence>
  </complexType>
  <complexType name="esmType">
    <sequence>
      <element type="string" name="bc"/>
      <element type="positiveInteger" name="nfit"/>
      <element type="double" name="w"/>
      <element type="double" name="efield"/>
    </sequence>
  </complexType>
  <complexType name="ekin_functionalType">
    <sequence>
      <element type="double" name="ecfixed"/>
      <element type="double" name="qcutz"/>
      <element type="double" name="q2sigma"/>
    </sequence>
  </complexType>
  <complexType name="spin_constraintsType">
    <sequence>
      <element type="string" name="spin_constraints"/>
      <element type="double" name="lagrange_multiplier"/>
      <element type="qes:d3vectorType" name="target_magnetization" minOccurs="0" maxOccurs="1"/>
    </sequence>
  </complexType>
  <complexType name="electric_fieldType">
    <sequence>
       <element type="qes:electric_potentialType"  name="electric_potential" minOccurs="1" maxOccurs="1"/>
       <element type="boolean" name="dipole_correction" minOccurs="0" maxOccurs="1" default="false"/>
       <element type="qes:gate_settingsType" name="gate_settings" minOccurs="0" maxOccurs="1" />
       <element type="integer" name="electric_field_direction" minOccurs="0" maxOccurs="1"/>
       <element type="double"  name="potential_max_position" minOccurs="0" maxOccurs="1"/>
       <element type="double"  name="potential_decrease_width" minOccurs="0" maxOccurs="1"/>
       <element type="double"  name="electric_field_amplitude"      minOccurs="0" maxOccurs="1"/>
       <element type="qes:d3vectorType" name="electric_field_vector" minOccurs="0" maxOccurs="1"/>
       <element type="integer"          name="nk_per_string"  minOccurs="0"  maxOccurs="1"/>
       <element type="integer"   name = "n_berry_cycles" minOccurs="0" maxOccurs="1"/>
    </sequence>
  </complexType>
  <simpleType name="electric_potentialType">
     <restriction base="string">
  	<enumeration value="sawtooth_potential"/>
  	<enumeration value="homogenous_field"/>
        <enumeration value="Berry_Phase" />
       <enumeration value="none"/>
     </restriction>
  </simpleType>
  <complexType name="gate_settingsType">
    <sequence>
      <element name="use_gate" type="boolean" minOccurs="1" maxOccurs="1"/>
      <element name="zgate" type="double" minOccurs="0" maxOccurs="1"/>
      <element name="relaxz" type="boolean" minOccurs="0" maxOccurs="1"/>
      <element name="block" type="boolean" minOccurs="0" maxOccurs="1"/>
      <element name="block_1" type="double" minOccurs="0" maxOccurs="1"/>
      <element name="block_2" type="double" minOccurs="0" maxOccurs="1"/>
      <element name="block_height" type="double" minOccurs="0" maxOccurs="1"/>
    </sequence>
  </complexType>
  <complexType name="atomic_constraintsType" >
    <sequence>
       <element type="integer" name="num_of_constraints" minOccurs="1"  maxOccurs="1"/>
       <element type="double"  name="tolerance"          minOccurs="1" maxOccurs="1"/>
       <element type="qes:atomic_constraintType" name="atomic_constraint" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <complexType name="atomic_constraintType">
     <sequence>
        <element type="qes:constr_parms_listType" name="constr_parms" />
        <element type="qes:constr_typeType" name="constr_type"/>
        <element type="double"  name="constr_target" />
     </sequence>
  </complexType>
  <simpleType name="constr_parms_listType">
    <restriction>
       <simpleType>
         <list itemType="double"/>
       </simpleType>
       <length value="4"/>
    </restriction>
  </simpleType>

  <simpleType name= "constr_typeType">
     <restriction base="string">
        <enumeration value="type_coord"/>
        <enumeration value="atom_coord"/>
        <enumeration value="distance"  />
        <enumeration value="planar_angle"/>
        <enumeration value="torsional_angle"/>
        <enumeration value="bennet_proj"/>
     </restriction>
  </simpleType>

  <complexType name="inputOccupationsType">
     <simpleContent>
        <extension base="qes:vectorType">
           <attribute type="positiveInteger" name="ispin"/>
           <attribute type="double" name="spin_factor"/>
        </extension>
     </simpleContent>
  </complexType>

  <!-- OUTPUT TYPE -->

  <complexType name="outputElectricFieldType">
    <sequence>
      <element name="BerryPhase" type="qes:BerryPhaseOutputType" minOccurs="0"/>
      <element name="finiteElectricFieldInfo" type="qes:finiteFieldOutType" minOccurs="0" />
      <element name="dipoleInfo" type="qes:dipoleOutputType" minOccurs="0" />
      <element name="gateInfo" type="qes:gateInfoType" minOccurs="0" maxOccurs="1"/>
    </sequence>
  </complexType>
  <complexType name="BerryPhaseOutputType">
    <sequence>
      <element name="totalPolarization" type="qes:polarizationType"  />
      <element name="totalPhase" type="qes:phaseType"/>
      <element name="ionicPolarization" type="qes:ionicPolarizationType" maxOccurs="unbounded"/>
      <element name="electronicPolarization" type="qes:electronicPolarizationType" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="dipoleOutputType">
    <sequence>
      <element type="positiveInteger" name="idir"/>
      <element type="qes:scalarQuantityType" name = "dipole"/>
      <element type="qes:scalarQuantityType" name = "ion_dipole"/>
      <element type="qes:scalarQuantityType" name = "elec_dipole"/>
      <element type="qes:scalarQuantityType" name="dipoleField"/>
      <element type="qes:scalarQuantityType" name="potentialAmp"/>
      <element type="qes:scalarQuantityType" name="totalLength"/>
    </sequence>
  </complexType>


  <complexType name="finiteFieldOutType">
    <sequence>
      <element type="qes:d3vectorType" name="electronicDipole"/>
      <element type="qes:d3vectorType" name="ionicDipole"/>
    </sequence>
  </complexType>



  <complexType name="polarizationType">
    <sequence>
      <element type="qes:scalarQuantityType" name="polarization"/>
      <element type="double" name="modulus" />
      <element type="qes:d3vectorType" name="direction"/>
   </sequence>
  </complexType>


  <complexType name="ionicPolarizationType">
    <sequence>
      <element name="ion" type="qes:atomType"/>
      <element name="charge" type="double"/>
      <element name="phase"  type="qes:phaseType"/>
    </sequence>
  </complexType>

  <complexType name="electronicPolarizationType">
    <sequence>
      <element name="firstKeyPoint" type="qes:k_pointType"/>
      <element name="spin" type="positiveInteger" minOccurs="0"/>
      <element name="phase" type="qes:phaseType"/>
    </sequence>
  </complexType>

  <complexType name="phaseType">
    <simpleContent>
      <extension base="double">
        <attribute type="double" name="ionic" use="optional"/>
        <attribute type="double" name="electronic" use="optional"/>
        <attribute type="string" name="modulus" use="optional"/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType name="gateInfoType">
    <sequence>
      <element name="pot_prefactor" type="double" minOccurs="1" maxOccurs="1"/>
      <element name="gate_zpos" type="double" minOccurs="1" maxOccurs="1"/>
      <element name="gate_gate_term" type="double" minOccurs="1" maxOccurs="1"/>
      <element name="gatefieldEnergy" type="double" minOccurs="1" maxOccurs="1"/>
    </sequence>
  </complexType>

  <complexType name="convergence_infoType">
    <sequence>
      <element type="qes:scf_convType" name="scf_conv"/>
      <element type="qes:opt_convType" name="opt_conv" minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="scf_convType">
    <sequence>
        <element type="boolean" name="convergence_achieved"/>
      <element type="positiveInteger" name="n_scf_steps"/>
      <element type="double" name="scf_error"/>
    </sequence>
  </complexType>
  <complexType name="opt_convType">
    <sequence>
        <element type="boolean" name="convergence_achieved"/>
      <element type="integer" name="n_opt_steps"/>
      <element type="double" name="grad_norm"/>
    </sequence>
  </complexType>
  <complexType name="algorithmic_infoType">
    <sequence>
      <element type="boolean" name="real_space_q"/>
      <element type ="boolean" name="real_space_beta" minOccurs="0"/>
      <element type="boolean" name="uspp"/>
      <element type="boolean" name="paw"/>
    </sequence>
  </complexType>
  <complexType name="symmetriesType">
    <sequence>
      <element type="unsignedByte" name="nsym"/>
      <element type="unsignedByte" name="nrot"/>
      <element type="unsignedByte" name="space_group"/>
      <element type="qes:symmetryType" name="symmetry" maxOccurs="48" minOccurs="1"/>
    </sequence>
  </complexType>
  <complexType name="symmetryType">
    <sequence>
      <element type="qes:infoType" name="info"/>
      <element type="qes:matrixType" name="rotation"/>
      <element type="qes:d3vectorType" name="fractional_translation" minOccurs="0"/>
      <element type="qes:equivalent_atomsType" name="equivalent_atoms" minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="equivalent_atomsType">
    <simpleContent>
      <extension base="qes:integerVectorType">
        <attribute type="positiveInteger" name="nat"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="infoType">
    <simpleContent>
      <extension base="string">
        <attribute type="string" name="name" use="optional"/>
        <attribute  type="string" name="class" use="optional"/>
        <attribute type="boolean" name="time_reversal" use="optional"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="outputPBCType">
    <sequence>
      <element type="string" name="assume_isolated"/>
    </sequence>
  </complexType>
  <complexType name="magnetizationType">
    <sequence>
      <element type="boolean" name="lsda"/>
      <element type="boolean" name="noncolin"/>
      <element type="boolean" name="spinorbit"/>
      <element type="double"  name="total"/>
      <element type="double"  name="absolute"/>
      <element type="boolean" name="do_magnetization"/>
    </sequence>
  </complexType>
  <complexType name="total_energyType">
    <sequence>
      <element type="double" name="etot"/>
      <element type="double" name="eband" minOccurs="0"/>
      <element type="double" name="ehart" minOccurs="0"/>
      <element type="double" name="vtxc"  minOccurs="0"/>
      <element type="double" name="etxc"  minOccurs="0"/>
      <element type="double" name="ewald" minOccurs="0"/>
      <element type="double" name="demet" minOccurs="0"/>
      <element type="double" name="efieldcorr" minOccurs="0"/>
      <element type="double" name="potentiostat_contr" minOccurs="0"/>
      <element type="double" name="gatefield_contr" minOccurs="0"/>
      <element type="double" name="vdW_term" minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="band_structureType">
    <sequence>
      <element type="boolean" name="lsda"/>
      <element type="boolean" name="noncolin"/>
      <element type="boolean" name="spinorbit"/>
      <element type="positiveInteger" name="nbnd" minOccurs="0"/>
      <element type="nonNegativeInteger" name="nbnd_up" minOccurs="0" />
      <element type="nonNegativeInteger" name="nbnd_dw" minOccurs="0" />
      <element type="double" name="nelec"/>
      <element type="integer" name = "num_of_atomic_wfc" minOccurs = "0"/>
      <element type="boolean" name = "wf_collected" />
      <element type="double" name="fermi_energy" minOccurs="0" />
      <element type="double" name="highestOccupiedLevel" minOccurs ="0"/>
      <element type="double" name="lowestUnoccupiedLevel" minOccurs="0"/>
      <element name="two_fermi_energies" type="qes:d2vectorType" minOccurs="0"/>
      <element type="qes:k_points_IBZType" name="starting_k_points" />
      <element type="positiveInteger" name="nks"/>
      <element type="qes:occupationsType" name="occupations_kind" />
      <element type="qes:smearingType"    name="smearing" minOccurs="0" />
      <element type="qes:ks_energiesType" name="ks_energies" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <complexType name="ks_energiesType">
    <sequence>
      <element type="qes:k_pointType" name="k_point"/>
      <element type="positiveInteger" name="npw"/>
      <element type="qes:vectorType" name="eigenvalues"/>
      <element type="qes:vectorType" name="occupations"/>
    </sequence>
  </complexType>
  <complexType name="closedType">
    <simpleContent>
      <extension base="string">
        <attribute type="string" name="DATE"/>
        <attribute type="string" name="TIME"/>
      </extension>
    </simpleContent>
  </complexType>

 <simpleType name="statusType">
      <restriction base="integer">
         <enumeration value="-1"/>
         <enumeration value="0" />
         <enumeration value="1" />
         <enumeration value="2" />
         <enumeration value="3" />
         <enumeration value="255"/>
      </restriction>
  </simpleType>
  <!-- FPMD TYPES (ref: quantum-simulation.org) -->
  <simpleType name="d3vectorType">
    <restriction>
       <simpleType>
         <list itemType="double"/>
       </simpleType>
       <length value="3"/>
    </restriction>
  </simpleType>
  <simpleType name="d2vectorType">
    <restriction>
      <simpleType>
        <list itemType="double"/>
      </simpleType>
      <length value="2"/>
    </restriction>
  </simpleType>
  <!--
  <simpleType name="vectorType">
    <restriction>
       <simpleType>
         <list itemType="double"/>
       </simpleType>
    </restriction>
  </simpleType>
  -->
  <simpleType name="integerListType">
    <list itemType="integer"/>
  </simpleType>

  <simpleType name="doubleListType">
    <list itemType="double"/>
  </simpleType>

  <complexType name = "vectorType">
    <simpleContent>
      <extension base="qes:doubleListType">
        <attribute name="size" type="integer" use="required"/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType name="integerVectorType">
    <simpleContent>
      <extension base="qes:integerListType">
        <attribute name="size" type="integer" use="required"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="matrixType">
    <simpleContent>
      <extension base="qes:doubleListType">
        <attribute name="rank" type="positiveInteger" />
        <attribute name="dims" type="qes:integerListType" />
        <attribute name="order">
          <simpleType>
            <restriction base="string">
              <enumeration value="F"/>
              <enumeration value="C"/>
            </restriction>
          </simpleType>
        </attribute>
      </extension>
    </simpleContent>
  </complexType>

  <complexType name="integerMatrixType">
    <simpleContent>
      <extension base="qes:integerListType">
        <attribute name="rank" type="positiveInteger" use="required"/>
        <attribute name="dims" type="qes:integerListType" use="required"/>
        <attribute name="order" >
          <simpleType>
            <restriction base="string">
              <enumeration value="F"/>
              <enumeration value="C"/>
            </restriction>
          </simpleType>
        </attribute>
      </extension>
    </simpleContent>
  </complexType>

  <complexType name="scalarQuantityType">
    <simpleContent>
      <extension base="double">
        <attribute type="string" name="Units"/>
      </extension>
    </simpleContent>
  </complexType>
</schema>
